/* DRoP Account Creation */
/* BASE STYLE */
body {
    align-items: center;
    background: url(../img/blue074.jpg);
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}
h1, h2, strong, em, p {
    color: #ffffff;
}
p {
    font-size: 1em;
}
form {
    color: #ffffff;
}
label {
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}
img {
    width: 100%;
}
/* NAV */
nav {
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #ffffff;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #808080;
}
/* INFO */
#info h1 {
    font-size: 2.25em;
}
#info .country form, #info .birth form, #info .name form, #info .colour form, #info .email form, #info .password form, #info .impress form, #info button {
    font-size: 1em;
    margin-bottom: 1.25em;
}
#info .name input, #info .colour input, #info .email input, #info .password input, #info .impress input {
    font-size: 1em;
}
#info .country select, #info .birth select, #info .colour select {
    font-size: 1em;
    height: 1.5em;
}
/* LOGIN */
#login {
   margin: 27% 0 0 0;
}
#login .drop {
    font-size: 3.125em;
    left: 65%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16%;
    z-index: 2;
}
#login .online {
    font-size: 3.125em;
    left: 62%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 60%;
    z-index: 2;
}
#login h1 span {
    text-transform: lowercase;
}
#login form {
    font-size: 1.5em;
    left: 60%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 35.5%;
    z-index: 2;
}
#login input {
    height: 1.5em;
    width: 45%;
}
#login button {
    font-size: 1em;
    margin: 2% 0 2% 0;
    text-transform: uppercase;
    width: 40%;
}
.box {
    background: none;
    display: block;
    height: 1200px;
    position: relative;
    width: 1200px;
}
/* DATABASE */
#database h1 {
    font-size: 2.25em;
}
.mammals h2, .reptiles h2, .insects h2, .fish h2 {
    font-size: 1.5em;
}
.mammals p, .reptiles p, .insects p, .fish p {
    font-size: 1.25em;
}
.holds p, .weyrs p, .craft p {
    font-size: 1.25em;
}
.holds img, 
.weyrs img {
    width: 50%;
}
.craft img {
    width: 25%;
}
@media (min-width: 768px) {

}
@media (min-width: 1200px) {

}
